USE [master]
GO
/****** Object:  Database [SneakerStore]    Script Date: 07/10/2024 7:29:07 CH ******/
CREATE DATABASE [SneakerStore]
 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SneakerStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SneakerStore]
GO
/****** Object:  Table [dbo].[CHAT_LIEU]    Script Date: 07/10/2024 7:29:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAT_LIEU](
	[MaCL] [int] IDENTITY(50,1) NOT NULL,
	[TenChatLieu] [nvarchar](40) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAT_LIEU_DE_GIAY]    Script Date: 07/10/2024 7:29:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAT_LIEU_DE_GIAY](
	[MaCLDe] [int] IDENTITY(20,1) NOT NULL,
	[TenChatLieuDe] [nvarchar](40) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCLDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_SAN_PHAM]    Script Date: 07/10/2024 7:29:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_SAN_PHAM](
	[MaCTSP] [int] IDENTITY(60,1) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[MaSP] [int] NULL,
	[MaCLDe] [int] NULL,
	[MaSize] [int] NULL,
	[MaMS] [int] NULL,
	[MaCL] [int] NULL,
	[MoTa] [nvarchar](100) NULL,
	[MaGG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANH_MUC]    Script Date: 07/10/2024 7:29:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_MUC](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](50) NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOI_TRA]    Script Date: 07/10/2024 7:29:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOI_TRA](
	[MaDT] [int] IDENTITY(120,1) NOT NULL,
	[MaHDCT] [int] NULL,
	[LyDoDoi] [nvarchar](100) NOT NULL,
	[NgayDoiTra] [date] NULL,
	[TrangThai] [bit] NOT NULL,
	[MoTa] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giam_Gia]    Script Date: 07/10/2024 7:29:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giam_Gia](
	[MaGG] [int] IDENTITY(1,1) NOT NULL,
	[TenMaGiam] [nvarchar](50) NULL,
	[MucGiam] [float] NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[DonVi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 07/10/2024 7:29:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MaHD] [int] IDENTITY(80,1) NOT NULL,
	[NgayTao] [varchar](20) NULL,
	[TongTien] [float] NULL,
	[TrangThai] [bit] NULL,
	[MaTTKH] [int] NULL,
	[MaNV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON_CHI_TIET]    Script Date: 07/10/2024 7:29:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON_CHI_TIET](
	[MaHDCT] [int] IDENTITY(90,1) NOT NULL,
	[MaCTSP] [int] NULL,
	[MaHD] [int] NULL,
	[MaTT] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[MaKM] [int] NULL,
	[GhiChu] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYEN_MAI]    Script Date: 07/10/2024 7:29:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYEN_MAI](
	[MaKM] [int] IDENTITY(110,1) NOT NULL,
	[TenKhuyenMai] [nvarchar](100) NULL,
	[NgayBD] [date] NULL,
	[NgayKT] [date] NULL,
	[MucGiam] [float] NULL,
	[MaGiam] [nvarchar](8) NULL,
	[DonVi] [bit] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAU_SAC]    Script Date: 07/10/2024 7:29:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAU_SAC](
	[MaMS] [int] IDENTITY(40,1) NOT NULL,
	[TenMau] [nvarchar](20) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 07/10/2024 7:29:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MaNV] [int] IDENTITY(70,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](8) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[DienThoai] [varchar](10) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[NgayTao] [date] NOT NULL,
	[ChucVu] [nvarchar](30) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [unique_TenDangNhap] UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 07/10/2024 7:29:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MaSP] [int] IDENTITY(30,3) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[NgayNhap] [varchar](20) NULL,
	[NgayCapNhat] [varchar](20) NULL,
	[TrangThai] [nvarchar](30) NULL,
	[MaDM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM_LOI]    Script Date: 07/10/2024 7:29:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM_LOI](
	[MaSPL] [int] IDENTITY(130,1) NOT NULL,
	[TenLoi] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](100) NOT NULL,
	[MaHDCT] [int] NULL,
	[SoLuongSPLoi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSPL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 07/10/2024 7:29:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE](
	[MaSize] [int] IDENTITY(30,1) NOT NULL,
	[KichThuoc] [int] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANH_TOAN]    Script Date: 07/10/2024 7:29:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANH_TOAN](
	[MaTT] [int] IDENTITY(90,1) NOT NULL,
	[HinhThucThanhToan] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONG_TIN_KH]    Script Date: 07/10/2024 7:29:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONG_TIN_KH](
	[MaTTKH] [int] IDENTITY(100,5) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[NgayCN] [date] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTTKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [df_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK__CHI_TIET___MaCLDe__693CA210] FOREIGN KEY([MaCLDe])
REFERENCES [dbo].[CHAT_LIEU_DE_GIAY] ([MaCLDe])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK__CHI_TIET___MaCLDe__693CA210]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK__CHI_TIET___MaSiz__6A30C649] FOREIGN KEY([MaSize])
REFERENCES [dbo].[SIZE] ([MaSize])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK__CHI_TIET___MaSiz__6A30C649]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK__CHI_TIET_S__MaCL__6C190EBB] FOREIGN KEY([MaCL])
REFERENCES [dbo].[CHAT_LIEU] ([MaCL])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK__CHI_TIET_S__MaCL__6C190EBB]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK__CHI_TIET_S__MaMS__6B24EA82] FOREIGN KEY([MaMS])
REFERENCES [dbo].[MAU_SAC] ([MaMS])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK__CHI_TIET_S__MaMS__6B24EA82]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK__CHI_TIET_S__MaSP__68487DD7] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK__CHI_TIET_S__MaSP__68487DD7]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_MaGG] FOREIGN KEY([MaGG])
REFERENCES [dbo].[Giam_Gia] ([MaGG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK_MaGG]
GO
ALTER TABLE [dbo].[DOI_TRA]  WITH CHECK ADD FOREIGN KEY([MaHDCT])
REFERENCES [dbo].[HOA_DON_CHI_TIET] ([MaHDCT])
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK__HOA_DON__MaTTKH__6EF57B66] FOREIGN KEY([MaTTKH])
REFERENCES [dbo].[THONG_TIN_KH] ([MaTTKH])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK__HOA_DON__MaTTKH__6EF57B66]
GO
ALTER TABLE [dbo].[HOA_DON_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK__HOA_DON_C__MaCTS__70DDC3D8] FOREIGN KEY([MaCTSP])
REFERENCES [dbo].[CHI_TIET_SAN_PHAM] ([MaCTSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOA_DON_CHI_TIET] CHECK CONSTRAINT [FK__HOA_DON_C__MaCTS__70DDC3D8]
GO
ALTER TABLE [dbo].[HOA_DON_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK__HOA_DON_CH__MaHD__71D1E811] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOA_DON] ([MaHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOA_DON_CHI_TIET] CHECK CONSTRAINT [FK__HOA_DON_CH__MaHD__71D1E811]
GO
ALTER TABLE [dbo].[HOA_DON_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK__HOA_DON_CH__MaKM__73BA3083] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KHUYEN_MAI] ([MaKM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOA_DON_CHI_TIET] CHECK CONSTRAINT [FK__HOA_DON_CH__MaKM__73BA3083]
GO
ALTER TABLE [dbo].[HOA_DON_CHI_TIET]  WITH CHECK ADD FOREIGN KEY([MaTT])
REFERENCES [dbo].[THANH_TOAN] ([MaTT])
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK__SAN_PHAM__MaDM__74AE54BC] FOREIGN KEY([MaDM])
REFERENCES [dbo].[DANH_MUC] ([MaDM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK__SAN_PHAM__MaDM__74AE54BC]
GO
ALTER TABLE [dbo].[SAN_PHAM_LOI]  WITH CHECK ADD FOREIGN KEY([MaHDCT])
REFERENCES [dbo].[HOA_DON_CHI_TIET] ([MaHDCT])
GO
USE [master]
GO


INSERT INTO [dbo].[DANH_MUC] (TenDanhMuc, TrangThai) VALUES
('Giày Thể Thao', 1),
('Giày Da', 1),
('Giày Sandal', 1),
('Giày Boot', 1),
('Giày Đi Bộ', 1),
('Giày Búp Bê', 1),
('Giày Chạy', 1),
('Giày Lười', 1),
('Giày Cổ Cao', 1),
('Giày Cổ Thấp', 1);

 -- MaSP = 57

INSERT INTO [dbo].[CHAT_LIEU] (TenChatLieu, TrangThai) VALUES
('Da Bò', 1),
('Vải Nylon', 1),
('Da Nhân Tạo', 1),
('Vải Canvas', 1),
('Da Suede', 1),
('Vải Lưới', 1),
('Chất Liệu Tổng Hợp', 1),
('Vải Cotton', 1),
('Da Thật', 1),
('Nhựa Cao Cấp', 1);

SELECT*FROM CHAT_LIEU
INSERT INTO [dbo].[CHAT_LIEU_DE_GIAY] (TenChatLieuDe, TrangThai) VALUES
('Da Thật', 1),
('Vải Mềm', 1),
('Vải Chống Thấm', 1),
('Chất Liệu Tổng Hợp', 1),
('Da Nhân Tạo', 1),
('Vải Lưới', 1),
('Vải Canvas', 1),
('Vải Nỉ', 1),
('Da Bò', 1),
('Nhựa Chống Thấm', 1);

INSERT INTO [dbo].[MAU_SAC] (TenMau, TrangThai) VALUES
('Đen', 1),
('Trắng', 1),
('Đỏ', 1),
('Xanh Dương', 1),
('Xanh Lá', 1),
('Vàng', 1),
('Hồng', 1),
('Nâu', 1),
('Xám', 1),
('Cam', 1);

INSERT INTO [dbo].[SIZE] (KichThuoc, TrangThai) VALUES
(36, 1),
(37, 1),
(38, 1),
(39, 1),
(40, 1),
(41, 1),
(42, 1),
(43, 1),
(44, 1),
(45, 1);


select * from CHAT_LIEU
select * from CHAT_LIEU_DE_GIAY

 -- MaSP = 57

